html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
a {text-decoration: none;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*css reseted*/

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    letter-spacing: 0.48px;
    color: #2F2F2F;
    margin-top: 17px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 10px;
}

header .container {
    margin: 17px auto 43px;
    display: flex;
    justify-content: space-between;
}

.flex-wrap {
    display: flex;
}

header div.logo-wrap {
    margin: 19px 0px 18px 28px;
    width: 94px;
}

header div.logo-wrap:hover {
    cursor: pointer;
}

nav ul {
    display: flex;
    margin: 14px 0px 14px 46px;
}

nav ul li {
    margin: 10px 48px 14px 0px;
}

nav ul li a {
    font-size: 16px;
    line-height: 16px;
    color: #222;
}

nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #82CBAC;
}

div.social-media ul{
    display: flex;
    margin-top: 24px;
}

div.social-media ul li {
    width: 18px;
    height: 18px;
    margin-left: 20px;
}

header button {
    background: #2F2F2F;
    border-radius: 20px;
    height: 40px;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    padding: 0px 15px;
    color: #FFFFFF;
    margin: 14px 28px 0px 43px;
}

header button:hover {
    cursor: pointer;
    background: #82CBAC;
    color: #000;
    box-shadow: #2F2F2F 2px 2px 10px;
}

section.opener {
    padding-bottom: 180px;
}

section.opener div.container {
    display: flex;
}

section.opener div.opener_text {
    padding-top: 180px;
    width: 50%;
}

section.opener div.opener_text p.sub-title {
    font-size: 13px;
    line-height: 14px;
    color: #82CBAC;
    margin-bottom: 1px;
}

section.opener div.opener_text h1 {
    max-width: 538px;
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 8px;
}

section.opener div.opener_text p.discription {
    max-width: 420px;
    font-size: 17px;
    line-height: 26px;
}

section.opener div.work_demo {
    margin-top: 50px;
    position: relative;
    width: 50%;
    height: 510px;
}

section.opener div.work_demo div.example_1 {
    background-image: url(../img/boy.jpg);
    background-size: contain;
    width: 325px;
    height: 325px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 21px;
}

section.opener div.work_demo div.example_2 {
    background-image: url(../img/girl.jpg);
    background-size: contain;
    width: 410px;
    height: 410px;
    border-radius: 30px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

div.author {
    display: flex;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
    border-radius: 30px;
    width: fit-content;
}

div.author div.author_portrait img {
    margin: 5px 5px 4px 8px;
    width: 24px;
    border-radius: 12px;
}

div.author h3 {
    font-size: 11px;
    line-height: 11px;
    margin: 5.5px 15.3px 0px 5px;
}

div.author p {
    font-size: 9px;
    line-height: 11px;
    margin: 0px 15.3px 5.5px 5px;
}

div#Stone {
    position: absolute;
    top: 12px;
    left: -40px;
}

div.example_2 div.author div.author_portrait img {
    margin: 7px 12px 7px 11px;
    width: 41px;
    border-radius: 50%;
}

div.example_2 div.author h3 {
    font-size: 16px;
    line-height: 16px;
    margin: 11px 16px 0px 12px;
}

div.example_2 div.author p {
    font-size: 11px;
    line-height: 13px;
    margin: 0px 13px 15px 12px;
}
    

div#Potter {
    position: absolute;
    bottom: 22px;
    left: -95px;
}

.owl-carousel {
    display: flex;
    overflow: hidden;
    margin: auto;
    padding: 10px 0px;
}

.owl-carousel:hover {
    cursor: grab;
}

div.representation_title-text {
    text-align: center;
    padding: 87px 0px 32px;
}

div.representation_title-text h2 {
    font-size: 64px;
    line-height: 64px;
}

div.representation_title-text p {
    font-size: 17px;
    line-height: 26px;
    margin: 25px auto;
    max-width: 610px;
}

div.buttons {
    margin: 40px 0px 0px 48px;
}

section.representation button {
    padding: 11px 66px 17px;
    background-color: #FFFFFF;
    border: 1px solid #2F2F2F;
    border-radius: 30px;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
}

section.representation button:hover {
    background-color: #2F2F2F;
    color: #FFFFFF;
    cursor: pointer;
}

article.digital-artist {
    padding: 64px 0 50px 50px;
    margin-bottom: 96px;
}

article.digital-artist div.img-block-wrap {
    width: 552px;
    height: 395px;
    background-image: url(../img/art_man.png);
    background-size: auto;
    background-repeat: no-repeat;
}

div.digital-artist_text {
    width: 552px;
    margin-top: 64px;
}

div.digital-artist_text p.subtitle {
    font-size: 16px;
    line-height: 18px;
    color: #FF7F96;
}

div.digital-artist_text h3 {
    margin-top: 11px;
    font-size: 36px;
    line-height: 36px;
    max-width: 341px;
}

div.digital-artist_text p.regular-text {
    margin-top: 16px;
    font-size: 20px;
    line-height: 26px;
    max-width: 477px;
}

article.our-work {
    margin: 85px 0px;
}

article.our-work div.img-block-wrap {
    width: 585px;
    height: 450px;
    background-image: url(../img/art_oldman.png);
    background-size: contain;
    border-radius: 30px;
}

div.our-work_text {
    margin-left: 15px;
    position: relative;
    padding: 57px 7px 138px 48px;
}

div.our-work_text p.subtitle {
    font-size: 35px;
    line-height: 36px;
    text-transform: uppercase;
}

div.our-work_text h3 {
    margin-top: 7px;
    font-size: 48px;
    line-height: 48px;
    max-width: 486px;
}

div.our-work_text p.regular-text {
    margin-top: 38px;
    font-size: 18px;
    line-height: 26px;
    max-width: 545px;
}

div.our-work_text button {
    position: absolute;
    bottom: 62px;
    right: 0px;
    background-color: #2F2F2F;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    line-height: 16px;
    border-radius: 0px;
    padding: 12px 40px 16px;
}

div.our-work_text button:hover {
    box-shadow: #2F2F2F 2px 2px 20px;
    cursor: pointer;
}

article.features {
    margin: 86px 0px 185px;
}

div.features_text {
    margin-right: 63px;
    padding: 64px 90px 64px 64px;
}

div.features_text p.number {
    border-radius: 30px;
    padding: 6px 20px 11px 20px;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    width: fit-content;
}

div.features_text h4 {
    margin: 5px 0px 13px;
    font-weight: 700;
    font-size: 35px;
    line-height: 36px;
}

div.features_text p.regular-text {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 26px;
    max-width: 431px;
}

p#green{
    background-color: #82CBAC;
}

p#yellow {
    background-color: #EAD71B;
}

p#red {
    background-color: #FF7F96;
}

article.features div.img-block-wrap {
    background-image: url(../img/art_officeman.png);
    background-size: contain;
    border-radius: 30px;
    width: 552px;
    height: 596px;
}

div.img-block-wrap {
    background-repeat: no-repeat;
}

section.invitation {
    padding: 70px 0px;
    background-color: #82CBAC;
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 50px auto;
}

section.invitation h2 {
    font-size: 64px;
    line-height: 64px;
    max-width: 657px;
    margin-top: 9px;
}

section.invitation p {
    font-size: 20px;
    line-height: 26px;
    margin-top: 33px;
    max-width: 565px;
}

section.invitation button {
    background-color: #2F2F2F;
    padding: 12px 40px 16px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    margin-top: 48px;
}

section.invitation button:hover {
    cursor: pointer;
    box-shadow: #2F2F2F 2px 2px 20px;
}

div.cover-img {
    height: 520px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-image: url(../img/seniors.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 5;
}

section.invitation:hover div.cover-img {
    display: none;
}

section.collection {
    padding-top: 100px;
}

section.collection .flex-wrap {
    justify-content: space-around;
}

section.collection h2 {
    text-align: center;
    font-size: 63px;
    line-height: 64px;
}

a:visited {
    color: #2F2F2F;
} 

.collection_item {
    margin-top: 73px;
}

section.collection div.img-wrap {
    border-radius: 20px 20px 0px 0px;
    background-size: contain;
    width: 358px;
    height: 221px;
}

.collection_item .title {
    border-radius: 0px 0px 30px 30px;
    margin: 29px 0px 37px 20px;
    width: 358px;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
}

div#pixel {
    background-image: url(../img/pixel.png);
}

div#sofa {
    background-image: url(../img/sofa.png);
}

div#head {
    background-image: url(../img/head.png);
}

button.full-button {
    margin: 64px  44% 0px;
    background-color: #2f2f2f;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 40px 16px;
}

button.full-button:hover {
    cursor: pointer;
    box-shadow: #2F2F2F 2px 2px 20px;
}

section.top-nft {
    padding-top: 95px;
}

section.top-nft h2 {
    text-align: center;
    font-size: 63px;
    line-height: 64px;
    margin-bottom: 20px;
}

section.top-nft div.flex-wrap {
    margin: 16px 26px 20px;
    flex-wrap: wrap;
    justify-content: center;
}

section.top-nft div.flex-wrap div.flex_item {
    margin: 0px 19px 40px;
    flex-basis: 332px;
}

div.flex_item div.nft_item {
    background-size: contain;
    border-radius: 30px;
    width: 332px;
    height: 210px;
}

section.top-nft div.flex_item .nft_item_panel {
    box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
    border-radius: 30px;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

div.flex_item .nft_item_panel p {
    font-size: 16px;
    line-height: 18px;
    margin-top: 10px;
}

div.flex_item .nft_item_panel p span {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
}

div.flex_item .nft_item_panel button.eye {
    width: 38px;
    height: 38px;
    background-color: rgba(168, 193, 216, 0.2);
    background-image: url(../img/eye.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    border: transparent;
    margin-right: 8px;
}

div.flex_item .nft_item_panel button.locker {
    width: 38px;
    height: 38px;
    background-color: #FF7F96;
    background-image: url(../img/locker.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    border: transparent;
    border-radius: 50%;
}

div.flex_item .nft_item_panel button:hover {
    cursor: pointer;
    box-shadow: #2F2F2F 3px 3px 30px;
    border-radius: 50%;
}

div#bear {
    background-image: url(../img/bear.png);
}

div#luca {
    background-image: url(../img/luca.png);
}

div#dodo {
    background-image: url(../img/dodo.png);
}

div#nano {
    background-image: url(../img/nano.png);
}

div#zombie {
    background-image: url(../img/zombie.png);
}

div#devil {
    background-image: url(../img/devil.png);
}

section.top-nft button.full-button {
    margin-top: 0px;
}

section.faq {
    margin-top: 55px;
    padding-bottom: 100px;
}

section.faq h2 {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 72px;
}

section.faq div.flex-wrap {
    justify-content: space-between;
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 23px 26px 29px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    font-size: 16px;
    line-height: 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

footer {
    margin-top: 96px;
}

footer div.flex-wrap {
    max-width: 1072px;
    width: 100%;
    margin: 0px auto 20px;
    justify-content: space-around;
}

footer div.form-wrap h4 {
    font-size: 35px;
    line-height: 29px;
    margin-bottom: 16px;
}

footer div.form-wrap p {
    font-size: 18px;
    line-height: 26px;
    max-width: 431px;
    margin-bottom: 16px;
}

footer div.form-wrap label {
    margin: 16px 8px 0px 0px;
}

footer div.form-wrap label input {
    padding: 12px 169px 12px 32px;
    background: #F6F6F6;
    border-radius: 20px;
    border: transparent;
}

footer div.form-wrap button {
    background-color: #2F2F2F;
    border-radius: 20px;    
    padding: 11px 14px 13px 15px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

footer div.form-wrap button:hover {
    cursor: pointer;
    box-shadow: #2f2f2f 2px 2px 20px;
}

footer div.social-media {
    margin: 19px 0px 0px -20px;
}

footer div.logo-wrap {
    margin-bottom: 45px;
}

footer h5 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 17px;
}

footer ul li {
    margin-bottom: 8px;
}

footer ul li a {
    font-size: 15px;
    line-height: 16px;
}

.ending {
    display: flex;
    justify-content: space-between;
    margin: 118px auto 20px;
    max-width:1072px;
    padding-bottom: 20px;
}

.ending p {
    font-size: 16px;
    line-height: 16px;
}

.ending p span {
    color: #FF7F96;
    font-size: 14px;
}

@media (max-width: 1200px) {
    div.cover-img {
        display: none;
    }
}

@media (max-width: 1150px) {
    section.collection .flex-wrap {
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 890px) {
    div.example_2 {
        display: none;
    }
    section.opener {
        padding-bottom: 0px;
    }

    article.digital-artist div.img-block-wrap {
        margin-left: -100px;
    }

    article.our-work {
        margin-bottom: 0px;
    }

    article.features {
        display: block;
        margin: 20px 0px;
    }

    .features .img-block-wrap {
        display: none;
    }
}

@media (max-width: 750px) {
    section.opener div.opener_text {
        padding-top: 90px;
    }

    section.opener div.opener_text h1 {
        font-size: 48px;
        line-height: 50px;
    }

    section.opener div.work_demo {
        height: 400px;
    }

    header .social-media {
        display: none;
    }

    article.digital-artist .img-block-wrap {
        display: none;
    }

    article.our-work.flex-wrap {
        display: block;
    }

    article.our-work.flex-wrap button {
        right: 10%;
    }

    div#utility {
        display: none;
    }

    div#site {
        display: none;
    }

    section.invitation h2 {
        font-size: 48px;
        line-height: 48px;
    }
}

@media (max-width: 750px) {

    footer h4 {
        margin-top: 30px;
    }
    
    footer .flex-wrap {
        flex-direction: column;
    }

    .img-block-wrap {
        display: none;
    }

    section.opener div.work_demo div.example_1 {
        display: none;
    }

    section.opener div.opener_text h1 {
        font-size: 48px;
        line-height: 48px;
        max-width: 600px;
    }

    section.opener div.opener_text {
        margin-left: 20%;
        width: 70%;
    }

    header button {
        display: none;
    }

    div.representation_title-text {
        padding-top: 20px;
    }

    section.carousel {
        display: none;
    }

    button.accordion img{
        display: none;
    }

    footer div.form-wrap label input {
        padding: 12px 20px 12px 32px;
    }

    .collection_item {
        margin: 10%;
    }
    
}