input.button_connect {
    border-radius: 8px;
    border: transparent;
    padding: 12px 42px;
    box-shadow: 0px 0px 2px;
    position: relative;
    left: 50px;
}

button.input_connect {
    font-size: 16px;
    line-height: 18px;
    padding: 4px 20px 6px;
    color: #fff;
    background: #6F2CFF;
    border-radius: 8px;
    position: relative;
    left: 40px;
}

button.input_connect:hover {
    text-shadow: 2px 2px 5px #000;
    cursor: pointer;
}

.toDoItem {
    margin: 10px;
    border: solid 1px;
    padding: 4px 5px 5px;
    background-color: #EFEFEF;
}

.toDoItem:first-letter {
    text-transform: uppercase;
}

.done {
    background-color: #177127;
    color: #fff;
}

.editBtn {
    color: forestgreen;
    cursor: pointer;
    float: right;
    margin: 1px;
    border-radius: 4px;
    border: transparent;
}

.deleteBtn {
    color: indianred;
    cursor: pointer;
    float: right;
    margin: 1px;
    border-radius: 4px; 
    border: transparent;
}